@charset "utf-8";

/*CSS Document*/


/*样式重置*/

html,
body {
    height: 100%;
}

html {
    overflow-y: auto;
}

body,
p,
form,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 12px arial;
    text-align: center;
    background: #fff;
    min-width: 1440px;
}

div {
    display: block;
}

img {
    border: 0;
}


/*样式重置*/

#container {
    min-width: 810px;
    height: 100%;
    min-height: 600px;
    position: relative;
    _position: relative;
    overflow: hidden;
}


/*页面顶部*/

#head {
    position: relative;
    padding-bottom: 100px;
    height: 100%;
    text-align: center;
    *z-index: 1;
}

#head .head_container {
    position: relative;
    height: 100%;
}

.content {
    position: relative;
    top: 38.2%;
}

.content_container {
    position: relative;
    top: -191px;
}

.content_container .logo img {
    width: 270px;
    height: 129px;
}

#search .text1 {
    position: relative;
    border: 1px solid #b6b6b6;
    width: 539px;
    height: 34px;
    margin-left: 0;
    border-right-width: 0;
    font: 16px/18px arial;
    line-height: 22px\9;
    padding: 0 0 0 6px;
    background: transparent;
    outline: 0;
    -weblit-apprarance: none;
    background: url(images/huatong.png) no-repeat;
    background-size: 30px 30px;
    background-position: right 5px center;
}

#search .text1:hover {
    border: 1px solid #a5a3a3;
    border-right-width: 0;
    *margin-top: 1px;
}

#search .text1:focus {
    border: 1px solid #4791ff;
    border-right-width: 0;
    outline: none;
}

#search .btn1 {
    width: 100px;
    width: 96px\0;
    height: 36px;
    /*    height: 37px\0;*/
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    *border-bottom: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    padding-top: 2px\9;
    margin-left: -8px;
    margin-left: -4px\0;
    cursor: pointer;
    border: 0;
    outline: 0;
}

@-moz-document url-prefix() {
    #search .btn1 {
        margin-left: -5px;
    }
}

#search .btn1:hover {
    background: #317ef3;
    /*    border-bottom: 1px solid #2868c8;*/
    *border-bottom: 0;
    box-shadow: 1px 1px 2px #ccc;
}

#search .btn1:active {
    background: #3075dc;
    /*    border-bottom: 1px solid #286bd0;*/
    *border-bottom: 0;
    box-shadow: 1px 1px 2px #ccc;
}

#m {
    position: relative;
    width: 720px;
    margin: 0 auto;
}

#u {
    z-index: 301;
    position: absolute;
    right: 0;
    top: 0;
    margin: 21px 9px 5px 0;
    padding: 0;
    display: none;
}

#u1 {
    z-index: 2;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    margin: 21px 9px 5px 0;
    padding: 0 96px 0 0;
}

.nav a {
    float: left;
    color: #333;
    font-weight: bold;
    line-height: 24px;
    margin-left: 20px;
    font-size: 13px;
    text-decoration: underline;
}

.nav a:hover {
    color: #0000cc;
}

.nav .login,
.nav .set {
    font-weight: normal;
}

.nav .set:hover #setbar {
    display: block;
}

.nav .set:hover #setbar2 {
    display: block;
}

.nav .more {
    display: block;
    position: absolute;
    right: 10px;
    width: 60px;
    height: 23px;
    color: #fff;
    background-color: #38f;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #38f;
    margin: 0 2px 0 19px;
    font-weight: normal;
    text-decoration: none;
}

.morebox {
    opacity: 1;
    min-height: 600px;
    display: none;
    width: 85px;
    border-left: 1px solid #e7e7e7;
    position: absolute;
    background-color: #f9f9f9;
    overflow: hidden;
    z-index: 2;
    right: 0;
    top: 0;
}

.products {
    color: #333;
    text-align: center;
    width: 66px;
    height: 43px;
    line-height: 43px;
    padding-top: 11px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    font-size: 13px;
    cursor: default;
    font-size: 13px;
}

.include_product {
    height: 600px;
    /*472*/
    overflow: hidden;
}

.details a {
    color: #666;
    display: block;
    text-align: center;
    width: 66px;
    height: 76px;
    margin: 0 auto;
    border-bottom: #f0f0f0 1px solid;
    text-decoration: none;
    overflow: hidden;
    font-size: 12px;
}

.details a:hover {
    text-decoration: underline;
}

.details .picture {
    background-position: 0 0;
}

.details a span {
    width: 36px;
    height: 36px;
    display: block;
    margin: 10px auto 5px;
    background: url(images/bdbri_icons_737be4e5.png) no-repeat;
    cursor: pointer;
}

.details .picture1 {
    background-position: 0 0;
}

.details .picture2 {
    background-position: -36px 0;
}

.details .picture3 {
    background-position: -72px 0;
}

.details .picture4 {
    background-position: -112px 0;
}

.details .picture5 {
    background-position: -148px 0;
}

.details .picture6 {
    background-position: -184px 0;
}

.details .picture7 {
    background-position: -220px 0;
}

.both {
    margin-top: 15px;
    height: 30px;
    width: 85px;
    overflow: hidden;
    clear: both;
    text-align: center;
    text-decoration: underline;
}

.setbararrow {
    width: 0;
    height: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    box-shadow: 1px 1px 5px #d1d1d1;
    -moz-box-shadow: 1px 1px 5px #d1d1d1;
    -o-box-shadow: 1px 1px 5px #d1d1d1;
}

.setbararrow em {
    top: -1px;
    width: 0;
    height: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #d8d8d8;
}

.setbararrow i {
    top: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #fff;
}

.setbararrow2 {
    width: 0;
    height: 0;
    line-height: 0;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    box-shadow: 1px 1px 5px #d1d1d1;
    -moz-box-shadow: 1px 1px 5px #d1d1d1;
    -o-box-shadow: 1px 1px 5px #d1d1d1;
}

.setbararrow2 em {
    top: -1px;
    width: 0;
    height: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #d8d8d8;
}

.setbararrow2 i {
    top: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #fff;
}

.setbar {
    right: 80px;
    top: 48px;
    display: none;
    width: 70px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    position: absolute;
    z-index: 302;
    box-shadow: 1px 1px 5px #d1d1d1;
    -moz-box-shadow: 1px 1px 5px #d1d1d1;
    -o-box-shadow: 1px 1px 5px #d1d1d1;
    margin-top: -1px;
    _margin-top: -3px;
}

.setbar a {
    display: block;
    text-align: left;
    margin: 0!important;
    padding: 0 9px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
}

.setbar a:hover {
    color: #fff;
    background-color: #3385ff;
}

.setbar2 {
    right: 144px;
    top: 48px;
    display: none;
    width: 70px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    position: absolute;
    z-index: 302;
    box-shadow: 1px 1px 5px #d1d1d1;
    -moz-box-shadow: 1px 1px 5px #d1d1d1;
    -o-box-shadow: 1px 1px 5px #d1d1d1;
    margin-top: -1px;
    _margin-top: -3px;
}

.setbar2 a {
    display: block;
    text-align: left;
    margin: 0!important;
    padding: 0 9px;
    line-height: 26px;
    text-decoration: none;
    color: #333;
}

.setbar2 a:hover {
    color: #fff;
    background-color: #3385ff;
}


/*页面顶部*/


/*页面主体*/

.wrapper {
    max-width: 1000px;
    height: 320px;
    background: #fff;
    box-shadow: 0 2px 2px #f2f2f2;
    position: absolute;
    margin: 10px auto;
    top: 280px;
    left: 250px;
}

#tab {
    width: 80px;
    height: 318px;
}

#tab_left,
#tab_con {
    background: #fff;
}

#tab,
#tab_con {
    float: left;
}

#tab_left {
    width: 80px;
    height: 320px;
    background-color: #e9eaea;
}

#tab_left li {
    list-style-type: none;
    font-size: 14px;
    text-align: center;
}

#tab_left li a {
    color: #9d9494;
    text-decoration: none;
    line-height: 35px;
    width: 80px;
    height: 35px;
    display: block;
    background-color: #e9eaea;
    text-shadow: 1px 1px 2px #ccc;
}

#tab_left li a:hover {
    background: #b3b6bb;
    text-decoration: none;
    opacity: 0.4;
    color: #fff;
    text-shadow: 1px 1px 2px #ccc;
}

#tab_left li a:active {
    background: #8f9093;
}

#tab_con {
    width: 812px;
    height: 320px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-left: 18px;
}

#tab_con_1 {
    height: 318px;
    font-size: 13px;
    color: #000;
}

#tab_con_1 a {
    color: #000;
    text-decoration: none;
}

#tab_con_1 table {
    width: 770px;
    text-align: center;
    margin: 10px auto;
}

#tab_con_1 table td {
    border-bottom: 1px solid #e9e9e9;
    height: 44px;
}

#tab_con_1 .recommendnavcon {
    color: #fff;
    display: none;
}

#tab_con_1 .recommendnavcon a {
    display: block;
    color: #fff;
    background-color: #787b7d;
    height: 43px;
    line-height: 43px;
    text-decoration: none;
}

#tab_con_1 .recommendnavcon a:hover {
    display: block;
    color: #fff;
    background-color: #4f5051;
}

#tab_con_1 .mynav {
    text-align: right;
    cursor: pointer;
    font-size: 14px;
}

#tab_con_1 .mynav:hover {
    text-decoration: underline;
    color: #7b7979;
}

#tab_con_1 .recommendnav {
    cursor: pointer;
    font-size: 14px;
}

#tab_con_1 .recommendnav:hover {
    text-decoration: underline;
    color: #7b7979;
}

#tab_con_1 .mynavcon tr td a {
    display: block;
    color: #000;
    text-decoration: none;
    height: 43px;
    line-height: 43px;
}

#tab_con_1 .mynavcon tr td a:hover {
    color: #3799fa;
    height: 43px;
    line-height: 43px;
    background-color: #b2b4b6;
}

#tab_con_2 {
    height: 320px;
}

#tab_con_2 .tab_con_2_left {
    float: left;
}

#tab_con_2 .tab_con_2_left .box {
    width: 426px;
    height: 320px;
    position: relative;
    overflow: hidden;
    text-align: left;
    background-color: #191919;
}

#tab_con_2 .tab_con_2_left .box img {
    border: 0px;
    width: 426px;
}

#tab_con_2 .tab_con_2_left .box .big {
    width: 100%;
    float: left;
    height: 260px;
    overflow: hidden;
    margin-bottom: 2px;
}

#tab_con_2 .tab_con_2_left .box .big a {
    display: none;
}

#tab_con_2 .tab_con_2_left .box .big span {
    position: absolute;
    left: 0;
    top: 230px;
    font-size: 15px;
    color: #fff;
    z-index: 11;
    height: 30px;
    line-height: 30px;
    text-indent: 1em;
    width: 100%;
}

#tab_con_2 .tab_con_2_left .box .num {
    width: 426px;
    float: left;
    margin-left: 4px;
}

#tab_con_2 .tab_con_2_left .box .num li {
    width: 100px;
    padding-top: 3px;
    padding-left: 1px;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    height: 48px;
}

#tab_con_2 .tab_con_2_left .box .num img {
    width: 99px;
    height: 48px;
}

#tab_con_2 .tab_con_2_left .box .num li.on {
    background: url(../images/bg01.gif) no-repeat 0 0;
}

#tab_con_2 .tab_con_2_left .box .txtbg {
    position: absolute;
    left: 0;
    top: 225px;
    width: 100%;
    height: 35px;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 10;
}

#tab_con_2 .tab_con_2_right {
    float: right;
    width: 350px;
}

#tab_con_2 .tab_con_2_right .tab_con_2_right_top {
    border-bottom: 1px solid #e2dfdf;
    height: 50px;
}

#tab_con_2 .tab_con_2_right .tab_con_2_right_top a {
    height: 49px;
    line-height: 49px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

#tab_con_2 .tab_con_2_right .tab_con_2_right_bottom {
    margin-top: 15px;
    margin-left: 20px;
}

#tab_con_2 .tab_con_2_right .tab_con_2_right_bottom ul li {
    display: block;
    float: left;
    width: 160px;
    list-style-type: square;
}

#tab_con_2 .tab_con_2_right .tab_con_2_right_bottom ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    height: 30px;
    line-height: 30px;
}

#tab_con_2 .tab_con_2_right .tab_con_2_right_bottom ul li a:hover {
    color: #706d6d;
    text-decoration: underline;
}

#tab_con_3 {
    height: 318px;
}

#tab_con_3 .tab_con_3_left {
    float: left;
}

#tab_con_3 .tab_con_3_right {
    float: right;
    width: 240px;
    border-left: 1px solid #e3e0e0;
    margin-top: 20px;
}

#tab_con_3 .tab_con_3_right .tab_con_3_right_top {
    height: 60px;
    text-align: left;
}

#tab_con_3 .tab_con_3_right .tab_con_3_right_top span {
    font-size: 18px;
    margin-left: 40px;
    height: 60px;
    line-height: 60px;
}

#tab_con_3 .tab_con_3_right .tab_con_3_right_bottom ul {
    margin-left: 40px;
}

#tab_con_3 .tab_con_3_right .tab_con_3_right_bottom ul li {
    display: block;
    width: 100px;
    float: left;
    text-align: left;
}

#tab_con_3 .tab_con_3_right .tab_con_3_right_bottom ul li a {
    display: block;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

#tab_con_3 .tab_con_3_right .tab_con_3_right_bottom ul li a:hover{
    color: #3385ff;
    text-decoration: underline;
}

#tab_con_4 {
    height: 318px;
}

#tab_con_4 .tab_con_4_top {
    height: 40px;
    border-bottom: 1px solid #e2e1e1;
}

#tab_con_4 .tab_con_4_top a {
    display: block;
    float: left;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

#tab_con_4 .tab_con_4_top .tab_con_4_top_left {
    margin-left: 15px;
}

#tab_con_4 .tab_con_4_top_left a:hover {
    font-weight: bold;
    border-bottom: 2px solid #3388ff;
}

#tab_con_4 .tab_con_4_top .tab_con_4_top_right {
    float: right;
    margin-right: 10px;
}

#tab_con_4 .tab_con_4_top .tab_con_4_top_right .checkmore {
    color: #389cff;
}

#tab_con_4 .tab_con_4_top .tab_con_4_top_right .checkmore:hover {
    text-decoration: underline;
}



#tab_con_4 .tab_con_4_bottom #bestcon ul,
#tab_con_4 .tab_con_4_bottom #foodcon ul,
#tab_con_4 .tab_con_4_bottom #filmcon ul,
#tab_con_4 .tab_con_4_bottom #enjoycon ul,
#tab_con_4 .tab_con_4_bottom #hotelcon ul {
    margin-top: 5px;
    width: 600px;
    float: left;
}

#tab_con_4 .tab_con_4_bottom #bestcon ul li,
#tab_con_4 .tab_con_4_bottom #foodcon ul li,
#tab_con_4 .tab_con_4_bottom #filmcon ul li,
#tab_con_4 .tab_con_4_bottom #enjoycon ul li,
#tab_con_4 .tab_con_4_bottom #hotelcon ul li {
    float: left;
    margin: 10px;
    height: 117px;
    overflow: hidden;
}

#tab_con_4 .tab_con_4_bottom #bestcon ul li a,
#tab_con_4 .tab_con_4_bottom #foodcon ul li a,
#tab_con_4 .tab_con_4_bottom #filmcon ul li a,
#tab_con_4 .tab_con_4_bottom #enjoycon ul li a,
#tab_con_4 .tab_con_4_bottom #hotelcon ul li a {
    text-decoration: none;
    display: block;
    height: 28px;
    line-height: 28px;
    font-weight: normal;
}

#tab_con_4 .tab_con_4_bottom #bestcon ul li a img,
#tab_con_4 .tab_con_4_bottom #foodcon ul li a img,
#tab_con_4 .tab_con_4_bottom #enjoycon ul li a img,
#tab_con_4 .tab_con_4_bottom #hotelcon ul li a img {
    width: 177px;
    height: 108px;
}
#tab_con_4 .tab_con_4_bottom #filmcon ul li a img {
    width: 177px;
    height: 247px;
}

#tab_con_4 .tab_con_4_bottom #filmcon ul li {
    float: left;
    width: 177px;
    height: 247px;
}



#tab_con_4 .tab_con_4_bottom #filmcon ul li a p {
    display: block;
    height: 28px;
    opacity: 0.4;
    background-color: #000;
    position: relative;
    bottom: 27px;
}

#tab_con_4 .tab_con_4_bottom #bestcon ul li a p,
#tab_con_4 .tab_con_4_bottom #foodcon ul li a p,
#tab_con_4 .tab_con_4_bottom #filmcon ul li a p,
#tab_con_4 .tab_con_4_bottom #enjoycon ul li a p,
#tab_con_4 .tab_con_4_bottom #hotelcon ul li a p {
    display: block;
    height: 28px;
    opacity: 0.4;
    background-color: #000;
    position: relative;
    bottom: 27px;
}

#tab_con_4 .tab_con_4_bottom #filmcon ul li a p:hover {
    opacity: 0.8;
}

#tab_con_4 .tab_con_4_bottom #filmcon ul li a p {
    display: block;
    height: 28px;
    opacity: 0.4;
    background-color: #000;
    position: relative;
    bottom: 27px;
}

#tab_con_4 .tab_con_4_bottom #bestcon ul li a p:hover,
#tab_con_4 .tab_con_4_bottom #foodcon ul li a p:hover,
#tab_con_4 .tab_con_4_bottom #filmcon ul li a p:hover,
#tab_con_4 .tab_con_4_bottom #enjoycon ul li a p:hover,
#tab_con_4 .tab_con_4_bottom #hotelcon ul li a p:hover {
    opacity: 0.8;
}

#tab_con_4 .tab_con_4_bottom #bestcon ul li a p span,
#tab_con_4 .tab_con_4_bottom #foodcon ul li a p span,
#tab_con_4 .tab_con_4_bottom #filmcon ul li a p span,
#tab_con_4 .tab_con_4_bottom #enjoycon ul li a p span,
#tab_con_4 .tab_con_4_bottom #hotelcon ul li a p span {
    color: #fff;
}

#tab_con_4 .tab_con_4_bottom #bestcon .tab_con_4_bottom_right,
#tab_con_4 .tab_con_4_bottom #foodcon .tab_con_4_bottom_right,
#tab_con_4 .tab_con_4_bottom #filmcon .tab_con_4_bottom_right,
#tab_con_4 .tab_con_4_bottom #enjoycon .tab_con_4_bottom_right,
#tab_con_4 .tab_con_4_bottom #hotelcon .tab_con_4_bottom_right{
    float: right;
    width: 200px;
}

#tab_con_4 .tab_con_4_bottom #bestcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top,
#tab_con_4 .tab_con_4_bottom #foodcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top,
#tab_con_4 .tab_con_4_bottom #filmcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top,
#tab_con_4 .tab_con_4_bottom #enjoycon .tab_con_4_bottom_right .tab_con_4_bottom_right_top,
#tab_con_4 .tab_con_4_bottom #hotelcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top{
    border-bottom: 1px solid #e3e2e2;
    padding: 5px;
    text-align: left;
    margin-top: 12px;
}

#tab_con_4 .tab_con_4_bottom #bestcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a,
#tab_con_4 .tab_con_4_bottom #foodcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a,
#tab_con_4 .tab_con_4_bottom #filmcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a,
#tab_con_4 .tab_con_4_bottom #enjoycon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a,
#tab_con_4 .tab_con_4_bottom #hotelcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a{
    text-decoration: none;
    display: block;
    height: 25px;
    line-height: 25px;
    color: #000;
    font-size: 13px;
}

#tab_con_4 .tab_con_4_bottom #bestcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a:hover,
#tab_con_4 .tab_con_4_bottom #foodcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a:hover,
#tab_con_4 .tab_con_4_bottom #filmcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a:hover,
#tab_con_4 .tab_con_4_bottom #enjoycon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a:hover,
#tab_con_4 .tab_con_4_bottom #hotelcon .tab_con_4_bottom_right .tab_con_4_bottom_right_top a:hover{
    text-decoration: underline;
}

#tab_con_4 .tab_con_4_bottom #bestcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom p,
#tab_con_4 .tab_con_4_bottom #foodcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom p,
#tab_con_4 .tab_con_4_bottom #filmcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom p,
#tab_con_4 .tab_con_4_bottom #enjoycon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom p,
#tab_con_4 .tab_con_4_bottom #hotelcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom p{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    clear: both;
}

#tab_con_4 .tab_con_4_bottom #bestcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a,
#tab_con_4 .tab_con_4_bottom #foodcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a,
#tab_con_4 .tab_con_4_bottom #filmcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a,
#tab_con_4 .tab_con_4_bottom #enjoycon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a,
#tab_con_4 .tab_con_4_bottom #hotelcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a{
    text-decoration: none;
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}

#tab_con_4 .tab_con_4_bottom #bestcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a:hover,
#tab_con_4 .tab_con_4_bottom #foodcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a:hover,
#tab_con_4 .tab_con_4_bottom #filmcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a:hover,
#tab_con_4 .tab_con_4_bottom #enjoycon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a:hover,
#tab_con_4 .tab_con_4_bottom #hotelcon .tab_con_4_bottom_right .tab_con_4_bottom_right_bottom a:hover{
    color: #389cff;
    text-decoration: underline;
}


#tab_con_5 {
    height: 318px;
}

#tab_con_5 .tab_con_5_left{
    width: 500px;
    float: left;
}

#tab_con_5 .tab_con_5_left ul{
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
}

#tab_con_5 .tab_con_5_left ul li{
    float: left;
}

#tab_con_5 .tab_con_5_left ul li img{
    width: 160px;
    height: 300px;
    border: 1px solid #ccc;
}
#tab_con_5 .tab_con_5_right{
    float: right;
    width: 300px;
    margin-top: 25px;
}

#tab_con_5 .tab_con_5_right a {
    display: block;
    float: left;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
}

#tab_con_5 .tab_con_5_right a:hover {
    color: #389cff;
    text-decoration: underline;
}

/*页面主体*/


/*页面底部*/

#ftcon {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -20px;
    text-align: center;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

#ftConw {
    width: 720px;
    margin: 0 auto;
}

#lh {
    margin: 16px 0 5px;
}

#lh a {
    margin: 0 10px;
    color: #00c;
    text-decoration: : underline;
    cursor: auto;
    font-size: 12px;
}

#cp a {
    color: #666;
    font-size: 12px;
}

#cp span {
    color: #666;
    font-size: 12px;
}

.icon {
    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url(icons_45de3f02.png) no-repeat;
    background-position: -600px -96px;
    position: relative;
    top: 3px;
}


/*页面底部*/
